# ==============================================================================
# FSTACK PROJECT - ENVIRONMENT VARIABLES EXAMPLE
# Copy this file to 
# # # .env.development 
# # # .env.production
# depending on your environment and fill in the values.
# Place the copied files inside the ./backend folder
# ==============================================================================

# --- APP CONFIGURATION ---
NODE_ENV=development
PORT=3000
DATABASE_URL="postgresql://username:password@db:5432/db_name?schema=public"

# --- POSTGRES DATABASE CONFIGURATION ---
# These are used by both the DB container and the NestJS TypeORM/Prisma
DB_HOST=db
DB_PORT=5432
POSTGRES_USER=your_db_user
POSTGRES_PASSWORD=your_db_password
POSTGRES_DB=fstack_db
# --- DOCKER DATABASE CONFIGURATION ---
PGDATA=/var/lib/postgresql/data/pgdata

# --- REDIS CONFIGURATION ---
# REDIS_HOST=redis
# REDIS_PORT=6379

# --- AUTHENTICATION (JWT) ---
# Used inside AuthModule for signing tokens
# JWT_SECRET=your_super_secret_random_string_here
# JWT_EXPIRATION=3600s

# --- EXTERNAL SERVICES (Optional) ---
# Example: If you add S3 or Mail service later
# STRIPE_API_KEY=
# AWS_ACCESS_KEY=